/* General settings */
html, body{
    height: 100%;
    margin:0;
    padding:0;
    border:0;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', Courier, monospace;
}

/* Header */
.header {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10%;
}

.logo {
    font-size: 24px;
}

.header-links {
    list-style-type: none;

    font-size: 18px;

    display: flex;
    gap: 20px;
}

.header-links li {
    margin-left: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    color: #F9FAF8;
}

/* First section */
.first-section {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10%;
}

.first-section h1 {
    font-size: 48px;    
    font-weight: 900;
    margin-bottom: 0;
}

.first-section p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.left-portion, .image {
    box-sizing: border-box;

    width: 40%;
    flex: auto;
}

.left-portion {
    margin-right: 5%;
}

.image {
    background-color: gray;
    padding: 10% 10%;
}

.sign-up-1 {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;

    padding: 1% 5%;
    margin: 2% 0;

    font-size: 120%;
    font-weight: bold;
    color: #F9FAF8;
}

/* Second section */
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 10%;
}

.second-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 5%;

    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    width: 15%;
    flex: 1 0 1;

    text-align: center;
    color: #3882F6;
}

.small-image {
    width: 100%;
    height: 150px;

    border: 3px solid #3882F6;
    border-radius: 10px;
}